:root {
  font-family: var(--font), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: var(--bg-color); */
  background-image: var(--bg-image);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 1vh;
  width: 100vw;
  /* background: var(--bg-color); */
  background-image: var(--bg-image);
  font-family: var(--font);


}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--font);
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  border-color: var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font);
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative;
  overflow: hidden;
}

  button:hover {
    border-color: var(--hover-color);
    box-shadow: 1px 1px 25px 10px var(--hover-color);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
        transparent,
        var(--button-color),
        transparent);
    transition: all 650ms;
  }

  button:hover:before {
    left: 100%;
  }

  .card {
    padding: 2em;
  }

  #app {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-size: contain;
    text-align: center;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: var(--text-color);
      background-color: var(--bg-color);
    }

    a:hover {
      color: var(--hover-color);
    }

    button {
      background-color: var(--button-color);
    }
  }

  /*cyberpunk theme */
  [data-theme="cyberpunk"] {
    --bg-color: #000000;
    --bg-image: url('src/assets/EMB-cyberpunk-bg.png');
    --back-bg: url('src/assets/Cyberpunk-City.png');
    --front-bg: url('src/assets/Cyber-Car.png');
    --alt-bg-color: #00ffb1;
    --text-color: #5e00ff;
    --button-color: #2f006f;
    --button-text: #5e00ff;
    --hover-color: #e500ff;
    --link-color: #fa86eb;
    --border-color: #00ffb1;
    --highlight-color: #2f006f;
    --font: 'Orbitron';
  }

  /*cthulu theme */
  [data-theme="cthulu"] {
    --bg-color: #111d13;
    --bg-image: url('src/assets/EMB-cthulu-bg.png');
    --back-bg: url('src/assets/Cthulu.png');
    --alt-bg-color: #b3cbb9;
    --text-color: #8fb996;
    --button-color: #415d43;
    --button-text: #8fb996;
    --hover-color: #b3cbb9;
    --link-color: rgb(45, 45, 252);
    --border-color: #688f6e;
    --highlight-color: #415d43;
    --font: 'EdgeOfMadness';
  }

  @font-face {
    font-family: 'EdgeOfMadness';
    src: url('./assets/EdgeOfMadnessItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Orbitron';
    src: url('./assets/OrbitronMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }